extends layout

block content
  h1 Welcome to a fingerprint authentication system
    p This is a simple example of a fingerprint authentication system.
    p You can use this system to login to your account.
    p You can also use this system to register new users.
    a(href='/login') Login
    hr
    a(href='/register') Register
